body {
    margin: 0px;
}

a {
    text-decoration: none;
}

.font1 {
    color: white;
    font-family: SimSun;
    text-align: center;
    font-size: 2em
}

.container {
    background-color: #00cdcf;
}

.row1-2 {
    padding: 40px;
    width: 60%;
    font-weight: bold;
    margin: 0 auto;
    border-style: double;
    border-width: 20px;
    border-color: white;
}

.row1-3 {
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.img-home {
    width: 50px;
}

.container2 {
    margin-top: 30px;
    flex-wrap: nowrap;
    display: flex;
}

.row2 {
    text-align: center;
    flex: 1;
}

.col1 {
    margin: 0 auto;
    width: 60%;
    background-color: teal;
    box-shadow: 3px 3px chocolate;
    border-radius: 8px;
    flex: 1;
}

.col-a {
    color: white;
}